.block-inner {
  border-radius: 10px;
  border: dashed 3px rgba(0,0,0,0.5);
  padding: 20px 15px 15px 15px;
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  top: 10px;
  left: 10px;
  cursor: pointer;
  transition: all .5s;
  &:hover {
    transform: scale(1.05, 1.05);
    border-style: solid;
  }
  .item {
    float: left;
    font-family: monospace;
    font-size: 32px;
    @include desktop {
      font-size: 42px;
    }
  }
  .description {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    @include desktop {
      font-size: 24px;
    }
  }

}

.blocks {
  flex-flow: row wrap;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}


.item {

}

.block, .block-half{
  &:hover {
    

    z-index: 10;
  }
  &:active {
    

    z-index: 10;
  }
}

div.block, div.block-half{
  &:hover {
    box-shadow: none;
  }
  &:active {
    box-shadow: none;
  }
}

.block, .block-half {
  position: relative;
  flex: 0 1 auto;
  display: block;
  width: 100%;
  box-shadow: none;
  z-index: 0;
  //background-color: $teal;


  p {
    margin: 0;
    font-size: inherit;
  }

  height: 100%;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100% - 30px);
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(100% - 80px);
    max-width: 100%;
    img {
      position: relative;
      max-height: 100%;
      transform: none;
    }
  }

  .name {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 30px;
    font-size: 20px;

  }
  .type {
    position: absolute;
    top: 0;
    left: 0;
  }

  h2, h3, h4 {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: zekton, sans-serif;
    font-weight: bold;
  }
  h2 {
    max-height: calc(100% - 30px);
  }
  .view {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .type, .view {
    margin: 14px;
    font-size: 18px;
    @include large-phone {
      font-size: 18px;
      margin: 12px;
    }
    @include tablet {
      font-size: 18px;
      margin: 12px;
    }
    @include small-desktop {
      font-size:18px;
      margin: 12px;
    }
    @include medium-desktop {
      font-size:21px;
      margin: 14px;
    }
    @include large-desktop {
      font-size:21px;
      margin: 14px;
    }
  }
}

.block {
  &:before {
    content:'';
    float:left;
    padding-top: 100%;
  }
  img {
    height: auto;
    width: auto;
    max-width: 95%;
    max-height: calc(100% - 80px);
  }
}

.block-half {
  &:before {
    content:'';
    float:left;
    padding-top: 50%;
  }
  img {
    height: auto;
    width: auto;
    max-width: 95%;
    max-height: 95%;
  }
}



.block-2, .block-3, .block-4, .block-6 {
  @extend .block;
  &:hover {
    
    z-index: 10;
  }
  &:active {
    
    z-index: 10;
  }
}

.block-2-half, .block-3-half, .block-4-half, .block-6-half {
  @extend .block-half;

  &:hover {
    
    z-index: 10;
  }
  &:active {
    
    z-index: 10;
  }
}

.block-2, .block-2-half {
  width: 100%;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 50%;
  }
}

.block-3, .block-3-half {
  width: 100%;
  @include large-phone {
    width: 50%;
  }
  @include tablet {
    width: 33.3333%;
  }
  @include desktop {
    width: 33.3333%;
  }
}

.block-4, .block-4-half {
  width: 100%;
  @include large-phone {
    width: 33.33333%;
  }
  @include tablet {
    width: 33.33333%;
  }
  @include desktop {
    width: 25%;
  }
}

.block-6, .block-6-half {
  width: 100%;
  @include large-phone {
    width: 50%;
  }
  @include tablet {
    width: 33.33333%;
  }
  @include desktop {
    width: 16.66666%;
  }
}
