@include desktop {
  /* Let's get this party started */
  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }


  .slide:hover::-webkit-scrollbar-thumb{
    border-color: rgba(0,0,0,0.5);
    border-width: 3px;
    border-style: dashed;
  }

  ::-webkit-scrollbar-thumb:hover {
    border-style: solid;
  }
}