.nav {
  position: fixed;
  top: 5px;
  left: 0;
  z-index: 999;
  pointer-events: none;
  overflow: visible;
  transition: all 0.3s;
  @include desktop {
    top: 10px;
  }
  .nav-item {
    font-family: monospace;
    width: 170px;
    height: 60px;
    padding: 0 10px;
    @include desktop {
      width: 200px;
      padding: 0 25px;
    }

    div {
      margin-top: 5px;
      background-color: rgba(255, 255, 255, 0);
      height: 50px;
      width: 150px;
      border-style: dashed;
      border-color: rgba(0, 0, 0, 0.5);
      border-width: 3px;
      border-radius: 30px;
      opacity: 0.8;
      transition: all .5s;
      line-height: 44px;
      text-align: center;
    }
  }
  .nav-item.current div {
    opacity: 1;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
    font-size: 17px;
  }
  .nav-item:hover div {
    opacity: 1;
    border-style: solid;
    font-size: 17px;
  }

  .owl-item {
    cursor: pointer;
    pointer-events: auto;
  }
}

.nav.hidden {
  transform: translateY(-70px);
}

.owl-carousel {
  max-height: 100vh;
  overflow: hidden;
}

.owl-prev, .owl-next {
  display: none;
}

.desktop-prev, .desktop-next {
  display: none;
  cursor: pointer;
  font-family: monospace;
  z-index: 1000;
  position: fixed;
  top: calc(50% - 50px);
  border: 3px dashed rgba(0, 0, 0, 0.5);
  width: 210px;
  height: 100px;
  transition: all 0.5s;
  white-space: nowrap;
}

.desktop-prev {
  left: 0;
  transform: translateX(-20px);
  border-radius: 0 50px 50px 0;
  .arrow {
    text-align: start;
  }
}

.desktop-next {
  right: 0;
  transform: translateX(20px);
  border-radius: 50px 0 0 50px;
  float: left;
  .arrow {
    text-align: end;
  }
}

.desktop-prev.hidden {
  transform: translateX(-220px);
}

.desktop-next.hidden {
  transform: translateX(220px);
}

.desktop-prev.show {
  transform: translateX(-10px);
  border-style: solid;
}

.desktop-next.show {
  transform: translateX(10px);
  border-style: solid;
}

@include desktop {
  .desktop-next, .desktop-prev {
    display: block;
  }
}

.desktop-controls .name {
  width: 154px;
  height: 94px;
  line-height: 94px;
  float: left;
  text-align: center;
}

.desktop-controls .arrow {
  width: 40px;
  height: 94px;
  line-height: 94px;
  font-size: 50px;
  float: left;
  color: rgba(0,0,0,0.5);
}
.desktop-prev:hover .arrow, .desktop-next:hover .arrow {
  color: rgba(0,0,0,1);
}




.slider {
  .slide {
    background-color: gray;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .owl-item {
    width: 100vw;
  }
}