$large-phone-width: 480px;
$tablet-width: 720px;
$small-desktop-width: 1023px;
$medium-desktop-width: 1280px;
$large-desktop-width: 1440px;

@mixin large-phone {
  @media (only-screen and min-width: #{$large-phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (only-screen and min-width: #{$tablet-width}) and (max-width: #{$small-desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (only-screen and min-width: #{$small-desktop-width}) {
    @content;
  }
}
@mixin small-desktop {
  @media (only-screen and min-width: #{$small-desktop-width}) and (max-width: #{$medium-desktop-width - 1px}) {
    @content;
  }
}
@mixin medium-desktop {
  @media (only-screen and min-width: #{$medium-desktop-width}) and (max-width: #{$large-desktop-width - 1px}) {
    @content;
  }
}
@mixin large-desktop {
  @media (only-screen and min-width: #{$large-desktop-width}) {
    @content;
  }
}


$blue: rgb(80, 154, 179);
@function  blue($a){
  @return rgba(80, 154, 179, $a);
}
$light-blue: rgb(173, 196, 204);
@function  light-blue($a){
  @return rgba(173, 196, 204, $a);
}
$green: rgb(146, 176, 106);
@function  green($a){
  @return rgba(146, 176, 106, $a);
}
$orange: rgb(224, 160, 56);
@function  orange($a){
  @return rgba(224, 160, 56, $a);
}
$red: rgb(219, 112, 77);
@function  red($a){
  @return rgba(219, 112, 77, $a);
}
$light-purple: rgb(195, 155, 222);

$color1: rgb(221,223,212);
$color2: rgb(250,229,150);
$color3: rgb(63,176,172);
$color4: rgb(23,62,67);