    #start {
    	position: absolute;
    	left: 90px;
    	top: 600px;
    }
     /*#startsymb {
    	position: absolute;
    	left: 60px;
    	top: 600px;
    }*/
    #canneddrinks{
    	position: absolute;
    	left: 70px;
    	top: 450px;
    
    }
    #cannedsymb{
    	position: absolute;
    	left: 20px;
    	top: 450px;
    }
   




    #bottleddrinks{
    	position: absolute;
    	left: 70px;
    	top: 350px;
    }
    #bottledsymb{
    	position: absolute;
    	left: 20px;
    	top: 350px;
    }
     #energydrinks{
    	position: absolute;
    	left: 70px;
    	top: 250px;
    }
     #energysymb{
    	position: absolute;
    	left: 20px;
    	top: 250px;
    }
     #water{
    	position: absolute;
    	left: 70px;
    	top: 150px;
    }
     #watersymb{
    	position: absolute;
    	left: 20px;
    	top: 150px;
    }




    /*Next aisle*/
    #popcorn{
    	position: absolute;
    	left: 310px;
    	top: 450px;
    }
     #popcornsymb{
        position: absolute;
        left: 230px;
        top: 450px;
    }
    #chips{
    	position: absolute;
    	left: 310px;
    	top: 350px;
    }
    #chipssymb{
        position: absolute;
        left: 230px;
        top: 350px;
    }
    #utensils{
    	position: absolute;
    	left: 310px;
    	top: 250px;
    }
    #utensilsymb{
        position: absolute;
        left: 230px;
        top: 250px;
    }
    #candy{
    	position: absolute;
    	left: 310px;
    	top: 150px;
    }
     #candysymb{
        position: absolute;
        left: 230px;
        top: 150px;
    }








      /*Next aisle*/
    #pies{
    	position: absolute;
    	left: 550px;
    	top: 450px;
    }
     #piessymb{
        position: absolute;
        left: 460px;
        top: 450px;
    }
    #icecream{
    	position: absolute;
    	left: 550px;
    	top: 350px;
    }
     #icecreamsymb{
        position: absolute;
        left: 460px;
        top: 350px;
    }
    #popsicles{
    	position: absolute;
    	left: 550px;
    	top: 250px;
    }
    #popsiclessymb{
        position: absolute;
        left: 460px;
        top: 250px;
    }
    #toppings{
    	position: absolute;
    	left: 550px;
    	top: 150px;
    }
      #toppingssymb{
        position: absolute;
        left: 460px;
        top: 150px;
    }





    /*Next aisle*/
    #frozenpizza{
    	position: absolute;
    	left: 775px;
    	top: 450px;
    }
     #frozenpizzasymb{
        position: absolute;
        left: 700px;
        top: 450px;
    }
    #tvdinners{
    	position: absolute;
    	left: 775px;
    	top: 350px;
    }
      #tvdinnerssymb{
        position: absolute;
        left: 700px;
        top: 350px;
    }
    #frozenvegetables{
    	position: absolute;
    	left: 775px;
    	top: 250px;
    }
     #frozenvegetablessymb{
        position: absolute;
        left: 700px;
        top: 250px;
    }
    #frozenfish{
    	position: absolute;
    	left: 775px;
    	top: 150px;
    }
     #frozenfishsymb{
        position: absolute;
        left: 700px;
        top: 150px;
    }






    /*Next aisle*/
    #cake{
    	position: absolute;
    	left: 1040px;
    	top: 450px;
    }
     #cakesymb{
        position: absolute;
        left: 950px;
        top: 450px;
    }
    #cookies{
    	position: absolute;
    	left: 1040px;
    	top: 350px;
    }
      #cookiessymb{
        position: absolute;
        left: 950px;
        top: 350px;
    }
    #bread{
    	position: absolute;
    	left: 1040px;
    	top: 250px;
    }
    #breadsymb{
        position: absolute;
        left: 950px;
        top: 250px;
    }
    #buns{
    	position: absolute;
    	left: 1040px;
    	top: 150px;
    }
     #bunssymb{
        position: absolute;
        left: 950px;
        top: 150px;
    }




	#apples{
		position: absolute;
    	left: 770px;
    	top: 525px;
	}
    #applessymb{
        position: absolute;
        left: 780px;
        top: 585px;
    }
	#oranges{
		position: absolute;
    	left: 910px;
    	top: 525px;
	}
    #orangessymb{
        position: absolute;
        left: 925px;
        top: 569px;
    }

    /*LINES*/
    #line1{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 100px;
        height: 125px;
        top: 485px;
    }

    #line2{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 100px;
        height: 80px;
        top: 385px;
    }

    #line3{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 100px;
        height: 80px;
        top: 285px;
    }

    #line4{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 100px;
        height: 80px;
        top: 185px;
    }

    #line5{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 330px;
        height: 80px;
        top: 385px;
    }

    #line6{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 330px;
        height: 80px;
        top: 285px;
    }

    #line7{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 330px;
        height: 80px;
        top: 185px;
    }

    #line8{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 575px;
        height: 80px;
        top: 385px;
    }

    #line9{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 575px;
        height: 80px;
        top: 285px;
    }

    #line10{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 575px;
        height: 80px;
        top: 185px;
    }

    #line11{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 815px;
        height: 80px;
        top: 385px;
    }

    #line12{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 815px;
        height: 80px;
        top: 285px;
    }

    #line13{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 815px;
        height: 80px;
        top: 185px;
    }

    #line14{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 1060px;
        height: 80px;
        top: 385px;
    }

    #line15{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 1060px;
        height: 80px;
        top: 285px;
    }

    #line16{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 1060px;
        height: 80px;
        top: 185px;
    }

    #line17{
        border-left: medium #CC0000 solid;
        position: absolute;
        left: 790px;
        height: 55px;
        top: 485px;
    }




